maps/*.png filter=lfs diff=lfs merge=lfs -text
maps/*.jpg filter=lfs diff=lfs merge=lfs -text
maps/*.jpeg filter=lfs diff=lfs merge=lfs -text
maps/*.tiff filter=lfs diff=lfs merge=lfs -text
maps/*.tif filter=lfs diff=lfs merge=lfs -text
maps/*.webp filter=lfs diff=lfs merge=lfs -text
maps/*.psd filter=lfs diff=lfs merge=lfs -text
